* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fbf3e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  transition: box-shadow 0.3s ease;
  z-index: 9999;
}

/* Shadow only when scrolling */
.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}


/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 45px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.brand-name {
  font-size: 22px;
  font-weight: 700;
  color: #2b5b3f;
}

.brand-sub {
  font-size: 16px;
  font-weight: 600;
  color: rgb(165, 0, 0);
  letter-spacing: 2px;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 25px;
  font-weight: 700;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #d97b00;
}

/* LOCATION BUTTON */
.location-btn {
  background: #2d1f14;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.location-btn:hover {
  transform: scale(1.08);
}

.location-icon {
  font-size: 20px;
  color: white;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #2d1f14;
  transition: 0.4s;
}

/* X animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Hide mobile location by default */
.mobile-location {
  display: none;
}

/* MOBILE */
@media (max-width: 1000px) {
  .nav-links {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background: #fbf3e8;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 0;
    transition: 0.4s ease;
    z-index: 10;
  }

  .nav-links.open {
    left: 0;
  }

  .hamburger {
    display: flex;
  }

  .desktop-location {
    display: none;
  }

  .mobile-location {
    display: block;
  }
}
