* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background: #fbf3e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 700;
  color: #2b5b3f;
}

.logo img {
  height: 45px;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #d97b00;
}

/* LOCATION BUTTON */
.location-btn {
  background: #2d1f14;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease; /* smooth zoom */
}

.location-btn:hover {
  transform: scale(1.08); /* zoom effect */
}

.location-icon {
  font-size: 20px;
  color: white;
}
.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.brand-name {
  font-size: 22px;
  font-weight: 700;
  color: #2b5b3f;
}

.brand-sub {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: rgb(165, 0, 0);
  letter-spacing: 2px;
  left: 12px;
}
